body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px; /* Set a maximum width */
    width: 100%; /* Make it fluid */
    text-align: center;
}

#question-section {
    margin-bottom: 20px;
}

#options-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#options-section button:hover {
    background-color: #45a049;
}

#feedback-section {
    margin-top: 10px;
    color: #333;
}

#progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    max-width: 80%; /* Set a maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#quiz-container.completed {
    background-color: #f0f0f0; /* Change background color when completed */
}

#progress-bar-container.completed {
    display: none; /* Hide progress bar when completed */
}

footer {
    position: fixed;
    margin-top: 500px;
}