body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#flashcard-container {
    text-align: center;
}

#flashcard {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#answer {
    display: none;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}
/* Updated styles for the hide-answer-btn */
#hide-answer-btn {
    background-color: #f44336; /* Red color for hiding */
}

#hide-answer-btn:hover {
    background-color: #d32f2f;
}
